body {
    font-family: 'Rocking Horse', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.dark {
    background-color: rgb(141, 160, 164);
    color: rgb(72, 64, 86);
}

h1, p {
  transition: color 0.3s; 
}

body.dark h1 {
  color: #3b7363; 
}

body.dark p {
  color: gray; 
}
.banner {
    background-color: #fff6ef;
    padding: 20px;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
}

.tabs {
    display: flex;
}

.tab {
    padding: 10px;
    cursor: pointer;
    background: #ddd;
}

.tab.active {
    background: #fff;
    font-weight: bold;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.banner-title {
    color: #3b7363;
    font-size: 3em;
    margin: 0;
}

.cards-section {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
    background-color: #fff6ef;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #d4e6e2;
}

.card-wide {
    grid-column: span 2;
    background-color: #fff6ef;
    color: #3b7363;
    padding: 10px;
    text-align: center;
    border: 2px solid #d4e6e2;
}

.card-text {
    border: 2px solid #d4e6e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

.card-text:nth-child(5) {
    background-color: #ffe3da;
    color: #3b7363;
}

.card-text:nth-child(7) {
    background-color: #cfe1dc;
    color: #3b7363;
}

.card-text:nth-child(8) {
    background-color: #ffe3da;
    color: #3b7363;
}

@media screen and (max-width: 600px) {
    .cards-section {
        grid-template-columns: 1fr;
    }
}
.button {
    background-color: #3b7363;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute; 
    right: 20px; 
    top: 20px; 
}

.button:hover {
    background-color: #2b5a48; 
}
.band-section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.band {
    margin-bottom: 20px;
    background-color: #fff6ef; 
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.band h2 {
    color: #3b7363; 
    margin: 0 0 10px 0;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
}

.image-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}